{
	"api_key": "",
	"channels": [
		"your_snipe_channel1",
		"your_snipe_channel2"
	],
	"scrawl_channels": [
		"rare_spottings"
	],
	"except_roles": [
		"Admin",
		"Moderators",
		"Partners"
	],
	"delay_scrawl": 300
}